# File yang dihasilkan oleh Next.js
.next/

# File konfigurasi
node_modules/
docker/

# Berkas pengembangan
.DS_Store
.env
npm-debug.log
yarn-debug.log
yarn-error.log
*.pid
*.log
*.bak
*.lock
*.sqlite
*.tmp

# Berkas konfigurasi dan cache Docker
.dockerignore
.docker/

# Berkas proyek editor atau IDE tertentu
.idea/
.vscode/
*.code-workspace
*.sublime-workspace

# Berkas versi kontrol
.git/